:root {
  --color-primary: #fff;
  --color-text: #fff;
  --color-text-2: #000;
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /*  color: var(--color-text); */
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 100vh;
}

/* SEARCH INPUT */

::selection {
  color: #fff;
  background: #bfbfbf;
}

.wrapper {
  max-width: 500px;
  margin: 25px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.search-input input:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-input.active input {
  box-shadow: none;
}

.search-input input {
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 50px 0 40px;
  font-size: 20px;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  border-top: #bfbfbf solid 1px;
}

.search-input.active .autocom-box {
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 50px 8px 40px;
  display: none;
  width: 100%;
  cursor: pointer;
}

.search-input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #efefef;
}

.fa-location-dot {
  height: 30px;
  width: 22.5px;
  color: #ff4a4a;
  position: absolute;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  padding: 0px 10px;
}

.fa-magnifying-glass {
  height: 30px;
  width: 30px;
  color: #bfbfbf;
  right: 20px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  padding: 0px 10px;
  cursor: pointer;
  display: none;
}

.search-input.active .fa-magnifying-glass {
  display: block;
}
